@page
@model Ticker.Razor.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
