@page
@model Ticker.Razor.Pages.Markets.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
}
<h2>Index Markets @Model.Name</h2>
<a asp-page="./Help">Help</a>
<form method="get">
    <button button="submit">Get</button>
</form>
<form method="post">
    <button button="submit">Post</button>
</form>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>UUID</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var currency in Model.Currencies)
            {
                <tr>
                    <td>@currency.UUID</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
